In [ ]:
import os
import pandas as pd

df = pd.read_csv('Chocolate_Sales.csv')

df.head(5)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,NaN,Mint Chip Choco,04-01-2022,"$5,320.00",180
1,Jehu Rudeforth,UK,Mint Chip Choco,04-01-2022,"$5,320.00",180
2,Van Tuxwell,India,85% Dark Bars,01-08-2022,"$7,896.00",94
3,Gigi Bohling,India,Peanut Butter Cubes,07-07-2022,"$4,501.00",91
4,Jan Morforth,Australia,Peanut Butter Cubes,27-04-2022,"$12,726.00",342

In [ ]:
# We have 3284 values. if less then its null
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3284 entries, 0 to 3283
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3284 non-null   str
 1   Country        3283 non-null   str
 2   Product        3284 non-null   str
 3   Date           3284 non-null   str
 4   Amount         3284 non-null   str
 5   Boxes Shipped  3284 non-null   int64
dtypes: int64(1), str(5)
memory usage: 154.1 KB